

<h1>Create A New Fleet </h1>

<form class="newMessage" action="/create" method="post">
    <input type="text" name="title" value="" placeholder="Title">
    <input type="text" name="text" value="" placeholder="Type your message here">
    <button type="submit" name="button">Fleet It</button>

</form>
