<nav>
    <a href="/create">Create a New Fleet</a>
    <a href="/user/{{name}}"></a>
    <a href="/logout">Logout</a>
</nav>
<h1>the home page, should show all messages</h1>
<h1>hello {{username}} </h1>


{{#allMessages}}
<div class="messagePost">


    <main class="creatorAndText">
        <p> <strong>{{user.dataValues.displayname}}</strong> @{{user.dataValues.username}}  </p>
        <p>Text: {{text}}</p>

    </main>
    <aside class="buttons">
        <form action="/like/{{id}}" method="post">
            <button type="submit">Like</button>
        </form>
        <button type="button"><a href="/message/{{id}}">See Message</a></button> <br>
        {{#canDelete}}<button type="button"><a href="/delete/{{id}}">Delete Message</a></button>{{/canDelete}}

    </aside>
    <footer>
        <p>Likes: {{likes.length}}</p>
        <p>Created On: {{createdAt}} </p>

    </footer>




</div>
{{/allMessages}}
