<nav>
    <a href="/create">Create a New Fleet</a>
    <a href="/user/{{name}}"></a>
    <a href="/logout">Logout</a>


</nav>
<h1>the home page, should show all messages</h1>





{{#allMessages}}

<h1>hello {{username}} </h1>

<div class="messagePost">


    <p>Text: {{text}}</p>
    <p>fleeted by: {{user.dataValues.username}}  </p>

</div>
{{/allMessages}}
