html{
    /*background-image:url(../images/butterfly.jpg);*/
    background-color: #FFF7C0;
}

button{
    background-color: #FF5992;
}

form {
    background-color: #A4D555;
}


.messagePost{
    border: solid;
    margin: 10px;
    border-width: thin;
}
